In [57]:
import pandas as pd
from sklearn.metrics import confusion_matrix,classification_report

In [58]:
data  = pd.read_csv('loan_prediction.csv')

In [59]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [60]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [61]:
data['Gender'].fillna(data['Gender'].mode()[0],inplace=True)
data['Married'].fillna(data['Married'].mode()[0],inplace=True)
data['Dependents'].fillna(data['Dependents'].mode()[0],inplace=True)
data['Self_Employed'].fillna(data['Self_Employed'].mode()[0],inplace=True)
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0],inplace=True)
data['Credit_History'].fillna(data['Credit_History'].mode()[0],inplace=True)
data['LoanAmount'].fillna(data['LoanAmount'].median(),inplace=True)

In [62]:
data['LoanAmount'].median()
# Mode - En cox tekrarlanan element
# Median - kicikden boyuye duzulusde orta reqem
# [4,5,7,8,5,6,3,2] -[2,3,4,5,6,7,8] - Median

128.0

In [63]:
# data['Gender'].values
# Male-0
# Female-1

In [64]:
data1 = data.iloc[:,1:-1]
data1 = pd.get_dummies(data1,columns=['Gender','Married','Dependents','Education','Self_Employed','Credit_History','Property_Area'])

In [65]:
X = data1.values #asli olmyan data
y = data.iloc[:,-1].values # asli olan data

In [66]:
data.iloc[:,-1]

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [67]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [68]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [69]:
log_reg.fit(X_train,y_train)
# fit - modeli oyrenir

LogisticRegression()

In [70]:
y_pred = log_reg.predict(X_test)

In [71]:
print('Training Accuracy: {}'.format(log_reg.score(X_train,y_train)))
print('Testing Accuracy: {}'.format(log_reg.score(X_test,y_test)))

Training Accuracy: 0.8217391304347826
Testing Accuracy: 0.7792207792207793

In [72]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred,labels = ['Y','N'])
print(cm)

[[98  2]
 [32 22]]

In [73]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           N       0.92      0.41      0.56        54
           Y       0.75      0.98      0.85       100

    accuracy                           0.78       154
   macro avg       0.84      0.69      0.71       154
weighted avg       0.81      0.78      0.75       154