# Dictionaries

In [1]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

In [1]:
countries = ['spain', 'france','turkey', 'germany', 'norway']

index_turkey = countries.index('turkey') # turkiyenin countries listindeki indexi

print(countries[index_turkey])

turkey

In [2]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = { 'spain':'madrid', 'france':'paris','germany':'berlin', 'norway':'oslo' }

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [3]:
# Dictionary - key, value 
# Key immutable - deyismeyen sabit olmalidir 
# Value deyisgen ola biler 
post = {5:['4',4,True]}
# Key- string, float,int
# list,tuple, float,str - Value

In [3]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

In [9]:
oyunlar = {'Forza Horizon4':'Yaris','Valorant':'Savas','Far Cry':'Macera'}

print(oyunlar.values())

print(oyunlar['Valorant'])
# Dictionary ancaq Key e gore calisir

dict_values(['Yaris', 'Savas', 'Macera'])
Savas

In [10]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland'] = 'warsaw'
 
# Print europe
europe['turkey'] = 'ankara'
# dictin ismi, ['key'] , 'value'
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'turkey': 'ankara'}

In [11]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del europe['australia']

europe['spain'] = 'barcelona'
# Print europe
print(europe)

{'spain': 'barcelona', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [13]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome',
        'population':59.83} 

# Add data to europe under key 'italy'
europe['italy'] = data

# Italy - key , data - value
# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

# Pandas

In [1]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd 
# import numpy as np

# Create dictionary my_dict with three key:value pairs: my_dict
# list(),tuple(),dict() -- {}
my_dict = {'country':names,
            'drives_right':dr, #-drives right  
            'cars_per_cap':cpc} # -car per cap- deyer 


# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)
print(my_dict)
# Print cars
print(cars)

{'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 'drives_right': [True, False, False, False, True, True, True], 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}
         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [3]:
sinif_notlari = [80,45,88,67]
ogrenciler = ['Ayse','Abdul','Omer','Ali']

dict_sinif = {'Ogrenciler':ogrenciler,
             'Notlar':sinif_notlari}

print(dict_sinif)

sinif = pd.DataFrame(dict_sinif)
print(sinif)

{'Ogrenciler': ['Ayse', 'Abdul', 'Omer', 'Ali'], 'Notlar': [80, 45, 88, 67]}
  Ogrenciler  Notlar
0       Ayse      80
1      Abdul      45
2       Omer      88
3        Ali      67

In [4]:
dict_sinif['Notlar']

[80, 45, 88, 67]

In [21]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
# Hemin keyin indexini verecek 
print(cars.index)
cars.index = row_labels

# Print cars again
print(cars)
pd.DataFrame.to_csv(cars,'cars.csv')

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
RangeIndex(start=0, stop=7, step=1)
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [29]:
print(sinif)

harfler = ['Ay','Ab','Om','Al']

sinif.index = harfler

sinif.index
print(sinif)

   Ogrenciler  Notlar
Ay       Ayse      80
Ab      Abdul      45
Om       Omer      88
Al        Ali      67
   Ogrenciler  Notlar
Ay       Ayse      80
Ab      Abdul      45
Om       Omer      88
Al        Ali      67

In [ ]:
# 0,1,2,3, -- ['Ay','Ab','Om','Al']
# sinif.index --- [0,1,2,3] 
# sinif.index = harfler
# [0,1,2,3] --- ['Ay','Ab','Om','Al']

In [30]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('cars.csv')
# Print out cars
# Csv- comma separated value
print(cars)

  Unnamed: 0        country  drives_right  cars_per_cap
0         US  United States          True           809
1        AUS      Australia         False           731
2        JPN          Japan         False           588
3         IN          India         False            18
4         RU         Russia          True           200
5        MOR        Morocco          True            70
6         EG          Egypt          True            45

In [33]:
print(cars)
# Key - value
[1,-1]
# 2 ci satr, sonuncu sutun

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [34]:
cars['cars_per_cap']

US     809
AUS    731
JPN    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [31]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])

# Print out country column as Pandas DataFrame
# print(cars[['country']])

# Print out DataFrame with country and drives_right columns
print(cars[['country','drives_right']])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [39]:
print(cars[['country']])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [40]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])
# [start:stop-1]
# 0 dan baslayiriq saymaga

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
     country  drives_right  cars_per_cap
IN     India         False            18
RU    Russia          True           200
MOR  Morocco          True            70

In [48]:
# Import cars data
# loc - label - basliqlara gore calisir
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.loc['JPN'])

# Print out observations for Australia and Egypt
# iloc - reqemlere - indexe gore calisir
print(cars.iloc[[1,-1,2]])

country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45
JPN      Japan         False           588

In [45]:
print(cars.iloc[[0,2]])

           country  drives_right  cars_per_cap
US   United States          True           809
JPN          Japan         False           588

In [13]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc['MOR','drives_right'])

# Print sub-DataFrame
print(cars.loc[['RU','MOR'],['country','drives_right']])

True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [ ]:
# loc - basliqlara gore 
# intloc - reqem - indexlere gore

In [14]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars.iloc[:,2])

# Print out drives_right column as DataFrame
print(cars.iloc[:, [2]])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap','drives_right']])

US     809
AUS    731
JPN    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64
     cars_per_cap
US            809
AUS           731
JPN           588
IN             18
RU            200
MOR            70
EG             45
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True